@inherits DevExtremeComponent

    <div @ref=@Element ></div>
@code {
    static DevExtremeChart() => ExtractResource<DevExtremeChart>();

    [Parameter]
    public Model Model { get; set; }
    
    protected override async Task OnAfterRenderClientModuleAsync(bool firstRender) 
        => ClientObject = await ClientModule.InvokeAsync<IJSObjectReference>("PivotGridInit", ClientObject, Model);

}
