@using OutlookInspired.Module.BusinessObjects
@using OutlookInspired.Module.Services.Internal
@using OutlookInspired.Blazor.Server.Components.CardView

<SideBySideCardView>
    <Content>
        @if (CustomerEmployees.Any()){
            @foreach (var employee in CustomerEmployees){
                <SideBySideInfoCard HeaderText="@employee.FullName" Image="@employee.Picture.Data.ToBase64Image()"
                              InfoItems="@(new Dictionary<string, string>{{ "EMAIL", $"<a href='mailto:{employee.Email}'>{employee.Email}</a>" }, 
                                             { "PHONE", employee.MobilePhone } })"/>
            }
        } else {
            <p>No Employees Found</p>
        }
        RECORDS: @CustomerEmployees.Count
    </Content>
</SideBySideCardView>

@code {
    [Parameter]
    public List<CustomerEmployee> CustomerEmployees { get; set; }
}