@using OutlookInspired.Blazor.Server.Services
@using OutlookInspired.Blazor.Server.Services.Internal
@inherits MapComponent<DxMapModel,DxMap>

<div @ref=@Element ></div>

@code {
    private DotNetObjectReference<JsInterop> _itemSelected;
    private bool _initClientObject;

    protected override async Task OnAfterImportDevExtremeModuleAsync(bool firstRender){
        if (firstRender){
            ClientObject ??= await ClientModule.InvokeAsync<IJSObjectReference>("InitDxMap", Element, ComponentModel);    
        }
        var routeMode = ComponentModel.RouteMode;
        if (routeMode!=null){
            ComponentModel.RouteMode = null;
            await ClientModule.InvokeVoidAsync("SetRouteMode", ClientObject, routeMode);
        }
    }
}
