@inherits DevExtremeComponent

    <div @ref=@Element ></div>
@code {
    static DevExtremePivotGrid() => ExtractResource<DevExtremePivotGrid>();
    
    [Parameter]
    public Model Model { get; set; }
    
    protected override async Task OnAfterRenderClientModuleAsync() 
        => ClientObject = await ClientModule.InvokeAsync<IJSObjectReference>("PivotGridInit", Element, Model);

}
