<a href="@ComponentModel.Href" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-top: 5px;@ComponentModel.Style;">@ComponentModel.Text</a>
@code {
    [Parameter]
    public HyperlinkModel ComponentModel { get; set; }
    

}