@using DevExpress.CodeParser
@typeparam T

@* <DxPivotGrid Data=@Model.Data> *@
@*     @foreach (var field in Model.Fields) { *@
@*         <DxPivotGridField Field=@field.Name Area=@field.Area Caption="@field.Caption" SummaryType=""> *@
@*             <DataTemplate>@GetC(context)</DataTemplate> *@
@*         </DxPivotGridField> *@
@*     } *@
@* </DxPivotGrid> *@
<div id="grid" style="width:100%; height: 800px;"></div>

@code {
    [Parameter]
    public XafPivotGridModel<T> Model { get; set; }
    protected override void OnInitialized() {
        base.OnInitialized();
        Model.Update = StateHasChanged;
    }
    private object GetC(object context){
        return context;
    }
    public static RenderFragment Create(XafPivotGridModel<T> model) =>@<XafPivotGrid Model=@model/>;

    

}
