@inherits DevExtremeComponent<DxPivotGridModel>
    <div @ref=@Element ></div>
@code {
    static DxPivotGrid() => ExtractResource<DxPivotGrid>();
    
    protected override async Task OnAfterRenderClientModuleAsync() 
        => ClientObject = await ClientModule.InvokeAsync<IJSObjectReference>("PivotGridInit", Element, ComponentModel);

}
