<style>
    .card-container {
        display: flex;
        flex-wrap: nowrap; 
        overflow-x: auto;  
        overflow-y: hidden;
        white-space: nowrap;
        max-height: 100vh; 
    }

    .card-container > div {
        margin-right: 16px; 
        flex: 0 0 calc(33.3333% - 16px); 
    }
    
    .card-container::-webkit-scrollbar {
        width: 12px;
    }
    
    .card-container::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
    
    .card-container {
        scrollbar-width: thin;
        scrollbar-color: darkgrey slategrey;
    }
</style>

<div class="card-container">
    @Content
</div>

@code {
    [Parameter]
    public RenderFragment Content { get; set; }
    
}