<style>
  .stacked-card {
      text-align: center; 
      flex: 0 0 auto;  
      margin-right: 16px;  
      max-width: calc(50% - 16px);  
  }
  .stacked-footer {
      font-weight: bold; 
  }
</style>

<div class="stacked-card">
    <div class="stacked-body">
        @Body
    </div>
    <div class="stacked-footer">
        <img src="@Image" class="img-fluid" alt="Store Crest">
    </div>
</div>

@code {
    [Parameter]
    public string Body { get; set; }
    [Parameter]
    public string Image { get; set; }

}