<a href="@Href" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-top: 5px;@Style;">@Text</a>
@code {
    [Parameter] public string Text { get; set; }
    [Parameter] public string Style { get; set; }
    [Parameter] public string Href { get; set; }
}