.progress-container {
    width: 100%;
    background-color: transparent;
    margin-top: 13px;
    margin-bottom: 13px;
}

.progress-bar {
    height: 4px;
    background-color: #8F4700;
    text-align: center;
    line-height: 4px;
    color: white;
}
