@inherits DevExtremeComponent
    <div @ref=@Element ></div>
@code {
    static DxPivotGrid() => ExtractResource<DxPivotGrid>();
    
    [Parameter]
    public DxPivotGridModel ComponentModel { get; set; }
    
    protected override async Task OnAfterRenderClientModuleAsync() 
        => ClientObject = await ClientModule.InvokeAsync<IJSObjectReference>("PivotGridInit", Element, ComponentModel);

}
