@inherits DevExtremeComponent<DxFunnelModel,DxFunnel>
    <div @ref=@Element ></div>
@code {
    protected override async Task OnAfterImportDevExtremeModuleAsync(bool firstRender){
        if (firstRender){
            ClientObject ??= await ClientModule.InvokeAsync<IJSObjectReference>("ChartInit", Element, ComponentModel);
        }
        if (ClientObject != null){
            await ClientModule.InvokeVoidAsync("SetChartSource", ClientObject, ComponentModel);
        }
    }
}
