@inherits DevExtremeComponent<DxFunnelModel>
    <div @ref=@Element ></div>
@code {
    static DxFunnel() => ExtractResource<DxFunnel>();
    
    protected override async Task OnAfterRenderClientModuleAsync() 
        => ClientObject = await ClientModule.InvokeAsync<IJSObjectReference>("ChartInit", Element, ComponentModel);

}
