@using OutlookInspired.Module.BusinessObjects
@using OutlookInspired.Module.Services.Internal
<style>
  .store-card {
      text-align: center; /* Center align text */
      flex: 0 0 auto;  
      margin-right: 16px;  
      max-width: calc(50% - 16px);  
  }
  .store-footer {
      font-weight: bold; /* Make text bold */
  }
</style>

<div class="store-card">
    
    <div class="store-body">
        @Store.City
    </div>
    <div class="store-footer">
        <img src="@Store.Crest.LargeImage.ToBase64Image()" class="img-fluid" alt="Store Crest">
    </div>
</div>

@code {
    [Parameter]
    public CustomerStore Store { get; set; }

}